<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <property name="LOG_PATTERN" value="%highlight([%d{HH:mm:ss.SSS} %5p] [%t] %logger{36} - %msg%n)"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Головний логер -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- SQL логери -->
<!--    <logger name="org.hibernate.SQL" level="DEBUG"/>-->
<!--    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>-->
    <logger name="p6spy" level="DEBUG"/>

</configuration>