<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.lss"/>
    <bean id="helloWorld" class="com.lss.beans.HelloWorld">
        <property name="message" value="Hello World!"/>
    </bean>
    <bean id="terminatorQuoter" class="com.lss.beans.TerminatorQuoter">
        <property name="message" value="Hello World!"/>
    </bean>
    <bean class="com.lss.beanPostProcessors.InjectRandomIntAnnotationBeanPostProcessor"/>
    <bean class="com.lss.beanPostProcessors.ProfilingHandlerBeanPostProcessor"/>
    <bean class="com.lss.listeners.PostProxyInvokerContextListener"/>
    <bean class="com.lss.beanFactoryPostProcessors.DeprecationHandlerBeanFactoryPostProcessor"/>
    <bean class="com.screenSaver.CustomScopeRegistryBeanFactoryPostProcessor"/>

</beans>

